<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>work project</title>
    <link rel="stylesheet" href="new.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <nav>
     <div class="searchButton"></div>
     <div class="Profile"></div>
    </nav>
    <div class="BrandCards">
        <span class="BrandText">Win BIG with Fantasy Stocks</span>
        <div class="BrandsubText1">
            <div class="BrandCoin"></div>
            <div class="BrandsubText">Analyze and buy players</div>
        </div>
        <div class="BrandsubText2">
            <div class="BrandCoin"></div>
            <div class="BrandsubText">Build a portfolio of 4 players</div>
        </div>
        <div class="BrandsubText3">
            <div class="BrandCoin"></div>
            <div class="BrandsubText">Sell high and cash in!</div>
        </div>
        <div class="BrandMoneyBag"></div>
    </div>
    <span class="TopMovers">Top Movers</span>
    <div class="TopMoversCards">
       
        
       
    </div>
    <div class="AllList">All List</div>
    <div class="Recommendation">
        <span class="Trending">
            <span class="TrendingText">Trending</span>
        </span>
        <span class="NewPlayers">
            <span class="NewPlayerText">New Player</span>
        </span>
    </div>
    <div class="PlayerDataContainer">
        
    </div>
    <footer>
        <span class="homebtnbox box">
          
            <svg class="homebtn" version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="476.000000pt" height="304.000000pt" viewBox="0 0 476.000000 304.000000"
            preserveAspectRatio="xMidYMid meet">
           <g transform="translate(0.000000,304.000000) scale(0.100000,-0.100000)"
           fill="#000000" stroke="none">
           <path d="M2185 2838 c-41 -21 -77 -55 -534 -503 -152 -148 -329 -322 -394
           -385 -98 -95 -125 -128 -155 -189 l-37 -75 -3 -591 -3 -590 28 -55 c62 -121
           120 -134 590 -128 301 3 320 5 358 25 103 55 134 134 144 368 l6 150 58 3 57
           3 0 -123 c1 -148 20 -264 53 -321 56 -95 144 -111 587 -105 351 5 357 7 434
           107 l46 61 0 543 c-1 574 -6 651 -48 733 -38 73 -86 131 -283 341 -107 114
           -269 289 -360 388 -226 245 -303 321 -349 345 -53 27 -141 26 -195 -2z m231
           -390 c118 -121 361 -380 603 -643 50 -55 103 -123 116 -150 l25 -51 -2 -509
           -3 -510 -287 -3 c-159 -1 -288 1 -289 5 0 5 -4 82 -9 173 -5 91 -13 182 -20
           202 -16 56 -70 120 -120 146 -40 20 -59 22 -193 22 -170 0 -196 -7 -252 -73
           -62 -72 -77 -130 -78 -312 l-2 -160 -291 -3 -291 -2 -6 344 c-7 368 -1 661 14
           713 7 22 144 163 474 487 256 251 468 456 473 456 4 0 66 -60 138 -132z"/>
           </g>
           </svg>
            
        </span>
        <span class="casebtnbox box">
            <svg class="casebtn"version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="300.000000pt" height="256.000000pt" viewBox="0 0 300.000000 256.000000"
            preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,256.000000) scale(0.100000,-0.100000)"
            fill="#000000" stroke="none">
            <path d="M1170 2386 c-105 -28 -188 -110 -221 -218 -13 -40 -20 -86 -17 -113
            2 -31 -1 -46 -10 -50 -8 -3 -76 -5 -152 -5 -158 0 -221 -11 -301 -51 -92 -46
            -148 -124 -168 -234 -14 -76 -15 -1201 -1 -1274 17 -92 115 -205 210 -244 l55
            -22 905 -3 c932 -3 1001 0 1084 37 59 26 142 116 169 181 22 55 22 56 22 695
            l0 640 -26 55 c-33 70 -76 119 -140 161 -73 46 -140 59 -321 59 l-157 0 -5 43
            c-3 23 -8 65 -12 92 -13 106 -107 220 -205 249 -43 13 -108 16 -358 15 -208 0
            -321 -4 -351 -13z m630 -245 c19 -5 26 -16 32 -49 4 -24 3 -54 -2 -67 l-10
            -25 -320 0 c-298 0 -320 1 -320 18 1 23 23 104 33 120 6 9 74 12 285 11 152
            -1 288 -4 302 -8z m615 -400 l60 -6 12 -45 c14 -54 17 -157 4 -164 -5 -3 -145
            -33 -312 -65 -167 -33 -332 -67 -366 -75 l-62 -15 -57 29 c-52 28 -63 30 -166
            30 -109 0 -110 0 -136 -30 -19 -22 -35 -30 -59 -30 -17 0 -179 29 -360 65
            -180 36 -349 68 -375 71 -65 9 -71 19 -60 101 13 90 26 121 54 127 13 3 32 7
            43 9 33 7 1715 5 1780 -2z m-1558 -542 c164 -34 341 -70 393 -79 52 -9 96 -23
            98 -29 12 -37 49 -62 106 -71 72 -12 235 3 247 22 5 7 9 9 10 3 1 -5 4 6 8 25
            6 34 7 35 91 54 158 35 675 133 683 129 13 -7 7 -733 -6 -778 -11 -34 -17 -40
            -52 -47 -51 -11 -1835 -6 -1857 5 -9 5 -22 23 -28 40 -20 60 -21 787 0 787 5
            0 143 -28 307 -61z"/>
            </g>
            </svg>

        </span>
        <span class="walletbtnbox box">
            <svg  class="walletbtn" version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="332.000000pt" height="276.000000pt" viewBox="0 0 332.000000 276.000000"
            preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,276.000000) scale(0.100000,-0.100000)"
            fill="#000000" stroke="none">
            <path d="M1970 2636 c-36 -13 -105 -41 -155 -64 -179 -80 -743 -325 -885 -384
            -214 -88 -288 -129 -359 -201 -87 -87 -119 -157 -132 -285 -6 -60 -9 -304 -6
            -599 3 -414 6 -507 19 -549 54 -179 216 -323 395 -353 48 -9 284 -11 818 -8
            818 4 810 3 911 62 106 62 211 193 237 296 11 42 14 169 15 594 1 297 -3 566
            -8 597 -22 143 -137 290 -285 364 l-80 41 0 124 c0 142 -13 184 -81 259 -49
            54 -96 84 -173 110 -79 26 -150 25 -231 -4z m191 -253 c20 -17 35 -73 44 -165
            l7 -68 -363 0 c-228 0 -359 4 -353 9 5 6 52 26 104 46 52 20 170 70 262 111
            219 97 256 105 299 67z m259 -504 c51 -23 97 -65 128 -118 l27 -46 3 -475 c2
            -261 -1 -514 -6 -562 -8 -75 -14 -93 -42 -128 -17 -22 -52 -52 -77 -67 -41
            -24 -58 -26 -201 -34 -207 -11 -1101 -10 -1269 0 -124 8 -134 11 -176 40 -59
            40 -94 83 -107 132 -7 26 -10 217 -8 572 3 594 -1 560 76 629 46 42 88 57 186
            68 39 5 377 7 751 6 593 -1 684 -4 715 -17z"/>
            <path d="M2211 1287 c-63 -32 -87 -131 -47 -192 22 -33 74 -65 106 -65 45 1
            108 36 126 72 22 43 22 109 0 143 -32 49 -129 71 -185 42z"/>
            </g>
            </svg>
        </span>
        <span class="manubtnbox box">
            <svg class="manubtn" version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="308.000000pt" height="284.000000pt" viewBox="0 0 308.000000 284.000000"
            preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,284.000000) scale(0.100000,-0.100000)"
            fill="#000000" stroke="none">
            <path d="M1440 2560 c-825 -4 -1050 -8 -1067 -18 -30 -17 -63 -83 -63 -124 1
            -46 31 -109 70 -141 l32 -27 1153 2 1154 3 31 30 c69 66 73 200 8 247 -31 22
            -140 39 -228 35 -25 -1 -515 -4 -1090 -7z"/>
            <path d="M503 1600 c-96 -5 -103 -7 -133 -35 -38 -36 -60 -76 -60 -107 0 -46
            22 -101 55 -136 l33 -37 1160 0 c1146 0 1160 0 1182 20 26 24 55 78 64 122 13
            57 -45 155 -99 169 -30 7 -2057 11 -2202 4z"/>
            <path d="M378 608 c-20 -11 -42 -33 -48 -47 -37 -79 -30 -126 29 -192 l39 -44
            1155 0 c1151 0 1156 0 1184 21 44 32 75 100 70 153 -6 51 -30 87 -77 112 -33
            18 -84 19 -1175 19 l-1140 0 -37 -22z"/>
            </g>
            </svg>

        </span>
    </footer>

    </div>
    <script>
        window.onload = function() {
            
        const xhr = new XMLHttpRequest();
            xhr.open('GET', 'https://civil20-intern.onrender.com/collections/TopMovers');
            xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
            const responsedata = JSON.parse(xhr.responseText) ;
            console.log(Object.keys(responsedata).length);
            let moverType = '';
            let moverRateper = "";
            document.getElementsByClassName("TopMoversCards")[0].innerHTML = ''
            document.getElementsByClassName("PlayerDataContainer")[0].innerHTML = ""

            for(let i=0;i<Object.keys(responsedata).length;i++){
                console.log(responsedata[i])
                console.log(responsedata[i]["type"])
                if(responsedata[i]["type"]=="filder"){
                    moverType = "background:url('gloves-removebg-preview.png');background-size:contain;"
                    console.log('fos')
                }
                if(responsedata[i]["type"]=="batball"){
                    moverType = "background:url('batandball-removebg-preview.png');background-size:contain;"
                    console.log('fods')
                }
                if(responsedata[i]["type"]=="bat"){
                    moverType = "background:url('bat-removebg-preview.png');background-size:contain;"

                }
                if(responsedata[i]["isup"]){
                    moverRateper = "moverup'>(+"+responsedata[i]['ratePercen'] +"%)"
                }else{
                    moverRateper = "moverdown'>(-"+responsedata[i]['ratePercen'] +"%)"
                }
                console.log(responsedata[i]['name'],moverType,responsedata[i]['team'],responsedata[i]['rate'],moverRateper)
                let st = "<div class='MoversCard'><span class='MoverName'>"+responsedata[i]['name']+"</span><div class='MoverType' style="+moverType+"></div><span class='divider'></span><span class='MoverTeam'>"+responsedata[i]['team']+"</span><div class='MoverRate'><span class='MoverCurrentRate'>"+responsedata[i]['rate']+"</span><span class='MoverRatePercentage "+moverRateper+"</span></div>"
                document.getElementsByClassName("TopMoversCards")[0].innerHTML += st
            }
            }
        };
        xhr.send();
        setTimeout(() => { 
            const xhr2 = new XMLHttpRequest();
            xhr2.open('GET', 'https://civil20-intern.onrender.com/collections/AllList');
            xhr2.onreadystatechange = function() {
                if (xhr2.readyState === 4 && xhr2.status === 200) {
                const response = xhr2.responseText;
                console.log(response);
                let playerType = ''
                let playerRateper = ''
                const responsedata = JSON.parse(xhr2.responseText) ;
                console.log(Object.keys(responsedata).length);
                document.getElementsByClassName("PlayerDataContainer")[0].innerHTML = ""
                    for(let i=0;i<Object.keys(responsedata).length;i++){
                    console.log(responsedata[i])
                    console.log(responsedata[i]["type"])
                    if(responsedata[i]["type"]=="filder"){
                        playerType = "background:url('gloves-removebg-preview.png');background-size:contain;"
                        console.log('fos')
                    }
                    if(responsedata[i]["type"]=="batball"){
                        playerType = "background:url('batandball-removebg-preview.png');background-size:contain;"
                        console.log('fods')
                    }
                    if(responsedata[i]["type"]=="bat"){
                        playerType = "background:url('bat-removebg-preview.png');background-size:contain;"

                    }
                    if(responsedata[i]["isup"]){
                        playerRateper = "moverup'>+"+responsedata[i]['ratePercen'] +"%"
                    }else{
                        playerRateper = "moverdown'>-"+responsedata[i]['ratePercen'] +"%"
                    }
                    let st = "<div class='PlayersData'><span class='PlayerName'>"+responsedata[i]['name']+"</span><span class='PlayerRate'>"+responsedata[i]['rate']+"</span><span class='PlayerInfo'><span class='PlayerType' style="+playerType+"></span><span class='PlayerTeam'>"+responsedata[i]['team']+"</span></span><span class='PlayerRatePer "+playerRateper+"</span></div>"
                    document.getElementsByClassName("PlayerDataContainer")[0].innerHTML += st

                }
                }
            };
            xhr2.send();

         }, 10000);

        
        };
    </script>
</body>
</html>
