body{
    margin: 0px;
    overflow: node;
}
nav {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
}
.searchButton{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 55px;
    top: 13px;

    background: url("assets/material-symbols_search.svg");
}
.Profile {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 17px;
    top: 16px;
    background: url("assets/gg_profile.svg")
}
.BrandCards{ 
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 161px;
   
    top: 71px;

    background: linear-gradient(270deg, #460049 0%, #93007D 100%);
    border-radius: 15px;
}
.BrandText{ 
    position: absolute;
    width: 100%;
    height: 21px;
    left: 26px;
    top: 26px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;

}
.BrandsubText1{
    position: absolute;
    width: 199px;
    height: 18px;
    left: 22px;
    top: 64px;

}
.BrandsubText2 {
    position: absolute;
    width: 199px;
    height: 18px;
    left: 22px;
    top: 90px;
    
}
.BrandsubText3 {
    position: absolute;
    width: 199px;
    height: 18px;
    left: 22px;
    top: 116px;

}
.BrandCoin {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 0px;

    background: url("assets/Hnc7xb0z_2x-removebg-preview.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.BrandsubText {
    position: absolute;
    width: 168px;
    height: 13px;
    left: 26px;
    top: 2px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
}
.BrandMoneyBag {
    position: absolute;
    width: 82px;
    height: 94px;
    right: 23px;
    bottom: 0px;

    background: url('assets/Untitled2-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.TopMovers {
    position: absolute;
width: 162px;
height: 26px;
left: 22px;
top: 283px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;

color: #000000;

}
.TopMoversCards {
    position: relative;
    display: flex;
    box-sizing: initial;
    height: 113px;
    left: 0px;
    top: 309px;
    flex-wrap: wrap;
    overflow-x: auto;
    min-width: 0;
    flex: auto; 
    
    -ms-overflow-style: none;  
    scrollbar-width: none;
    

}
.TopMoversCards::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.MoversCard {
    z-index: 1;
    flex: 0 0 auto;
    
    box-sizing: border-box;
    position: relative;
    width: 155px;
    height: 94px;
    margin-left: 16px;
    margin-top: 9px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 0px 5px #00000036);
    border-radius: 10px;
}
.MoverName {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 18px;
    top: 6px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;
}
.MoverType {
    position: absolute;
    width: 22px;
    height: 25.83px;
    left: 21px;
    top: 33px;

    background: url('assets/gloves-removebg-preview.png');
    background-size: contain;
}
.divider {
    position: absolute;
    width: 15px;
    height: 20px;
    left: 44px;
    top: 35px;
    background: url('assets/radix-icons_divider-vertical.svg');

}
.MoverTeam {
    position: absolute;
    width: 72px;
    height: 18px;
    left: 59px;
    top: 38px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: rgba(0, 0, 0, 0.6);

}
.MoverRate {
    position: absolute;
    width: 102px;
    height: 17px;
    left: 18px;
    top: 70px;
    
}
.MoverCurrentRate {
    position: absolute;
width: 37px;
height: 17px;
left: 0px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;

color: #000000;

}
.MoverRatePercentage {
    /* (+72.64%) */


position: absolute;
width: 64px;
height: 16px;
left: 38px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height */



}
.moverup {
    color: #3AC19D;
} 
.moverdown {
    color: #F06173;
}
.AllList {
    position: absolute;
width: 99px;
height: 20px;
left: 22px;
top: 431px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
/* identical to box height */


color: #000000;

}

.Recommendation{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 60%;
    height: 40px;
    left: 79px;
    top: 465px;
}
.Trending{
    position: relative;
    width: 111px;
    height: 40px;
    left: 0px;
    top: 0px;
    margin-right: 2%;
    margin-left: 2%;

    background: #F6EAF3;
    border-radius: 20px;
}
.TrendingText{
    position: absolute;
    width: 85px;
    height: 22px;
    left: 10px;
    top: 11px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #850073;
}
.NewPlayers{
    position: relative;
    width: 116px;
    height: 40px;
    margin-right: 2%;
    margin-left: 2%;
    top: 0px;

    background: #F8F8F8;
    border-radius: 20px;
}
.NewPlayerText{
    position: absolute;
    width: 95px;
    height: 19px;
    left: 10px;
    top: 11px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #000000;
}
.PlayerDataContainer {
    position: absolute;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    height: 33%;
    top: 513px;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;

}
.PlayerDataContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.PlayersData{
    box-sizing: border-box;

    position: relative;
    width: 100%;
    height: 77px;
    overflow-y: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.PlayerName{
    position: absolute;
    width: 116px;
    height: 16px;
    left: 6px;
    top: 14px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #000000;

}
.PlayerRate{
    position: absolute;
    width: 43px;
    height: 16px;
    right: 0px;
    top: 13px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #000000;

}
.PlayerInfo{
    position: absolute;
    width: 69px;
    height: 27px;
    left: 6px;
    top: 39px;

}
.PlayerType{
    position: absolute;
    width: 22px;
    height: 26.71px;
    left: 0px;
    top: 0px;

    background: url('assets/bat-removebg-preview.png');
    background-size: contain;
}
.PlayerTeam{
    position: absolute;
    width: 40px;
    height: 23px;
    left: 26px;
    top: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: rgba(0, 0, 0, 0.6);

}
.PlayerRatePer{
    position: absolute;
    width: 43px;
    height: 22px;
    right: 3px;
    bottom: 11px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    
}
footer{
    box-sizing: border-box;
    display: flex;
  justify-content: center;
position: absolute;
width: 100%;
height: 52px;
left: 0px;
top: 792px;
z-index: 1;
background-color: #FFFFFF;
border-top: 1px solid rgba(0, 0, 0, 0.4);
   

}
.box {
    position: relative;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    
}
g {
    fill:#626375
}
.homebtnbox{
    
    border-top: 5px solid #870477;
    
}
.homebtn {
    position: absolute;
    width: 47px;
    height: 30px;
    left: 20px;
    top: 6px;
}
.homebtn > g{
    fill: #870477;
}

.casebtn {
    position: absolute;
    width: 30px;
    height: 28px;
    left: 33px;
    top: 11px;
    background-size: contain;
    background-repeat: no-repeat;

}
 
.walletbtn {
    
    position: absolute;
width: 32px;
height: 28px;
left: 33px;
top: 12px;
    background-size: contain;
    background-repeat: no-repeat;

}

.manubtn {
    position: absolute;
width: 25px;
height: 25px;
left: 31px;
top: 13px;

}
